@media (max-height: 450px) {
  .addBookContainer {
    top: 5vh;
    padding: 0;
    border: none;
    max-width: 60vw;
  }

  .editForm {
    top: 5vh;
    padding: 0;
    border: none;
    max-width: 60vw;
  }

  .book {
    width: 70vw;
    margin: 10px auto;
  }

  #deleteButtonContainer {
    margin: 75px auto;
  }
}
