@media (max-height: 450px) {
  .addBookContainer {
    top: 5vh;
    width: 60%;
    padding: 0;
    border: none;
  }

  .addBookButtonContainer {
    margin-top: 20px;
  }

  .book {
    width: 70vw;
    margin: 10px auto;
  }
}
