@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

:root {
  --turquoise: #32e1c1;
  --green: #32c97b;
  --blue: #01b7ee;
  --yellow: #d4fd02;
}

body {
  background-color: black;
}

h1 {
  margin: 1em 0 0 0;
  text-align: center;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  color: var(--green);
}

hr {
  border: 0;
  height: 3px;
  background-color: var(--green);
}

#addBook {
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 5px;
  border: none;
  border-radius: 0.25em;
  font-size: 1.25em;
  background-color: var(--blue);
}

#addIcon {
  height: 60px;
  width: 60px;
}

.addBookContainer {
  display: none;
  position: relative;
  top: 5em;
  margin: auto;
  padding: 40px 20px;
  width: 80%;
  border: 3px solid var(--green);
}

.lineItem {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  margin: 5px;
  color: white;
}

input {
  width: 150px;
}

.addBookButtonContainer {
  display: flex;
  justify-content: space-around;
}

.addBookButtons {
  border: none;
  margin-top: 1em;
  border-radius: 0.25em;
  font-size: 1em;
  padding: 5px;
}

#cancelAddBook {
  background-color: #cb353f;
}

#applyAddBook {
  background-color: var(--green);
}

#titleLabel {
  color: #35df79;
}

#titleInput {
  background-color: #35df79;
}

#authorLabel {
  color: #62e858;
}

#authorInput {
  background-color: #62e858;
}

#pagesLabel {
  color: #8df038;
}

#pagesInput {
  background-color: #8df038;
}

#readLabel {
  color: #b4f71b;
}

#readInput {
  background-color: #b4f71b;
}
