@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

:root {
  --turquoise: #32e1c1;
  --green: #32c97b;
  --add-input: #b7d8e1;
  --blue: #01b7ee;
  --yellow: #e9fb91;
  --edit: #e9fb91;
  --edit-input: #e3e8cb;
  --add: #01b7ee;
}

body {
  user-select: none;
  background-color: black;
}

h1 {
  margin: 1em 0 0 0;
  text-align: center;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  color: var(--turquoise);
}

hr {
  margin: 20px 0;
  border: 0;
  height: 3px;
  background-color: var(--turquoise);
}

#addBook {
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 5px;
  border: none;
  border-radius: 0.25em;
  font-size: 1.25em;
  background-color: var(--blue);
}

#addIcon {
  height: 60px;
  width: 60px;
}

.addBookContainer {
  display: none;
  position: relative;
  top: 15vh;
  margin: auto;
  padding: 40px 20px;
  width: 80%;
  border: 3px solid var(--add);
}

button {
  cursor: pointer;
}

.editForm {
  position: relative;
  top: 15vh;
  margin: auto;
  padding: 40px 20px;
  width: 80%;
  border: 3px solid var(--edit);
}

.lineItem {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  margin: 5px;
  color: var(--add);
}

.editItem {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  margin: 5px;
  color: var(--edit);
}

input {
  width: 150px;
  font-weight: 600;
}

.addBookButtonContainer {
  display: flex;
  justify-content: space-around;
}

.editBookButtonContainer {
  display: flex;
  justify-content: space-around;
}

.addBookButtons {
  border: none;
  margin-top: 1em;
  border-radius: 0.25em;
  font-size: 1em;
  padding: 5px;
}

.editBookButton {
  border: none;
  margin-top: 1em;
  border-radius: 0.25em;
  font-size: 1em;
  padding: 5px;
}

input {
  border: none;
  border-radius: 0.25em;
  text-indent: 10px;
  outline: none;
}

input[type="checkbox"] {
  cursor: grab;
}

#cancelAddBook {
  background-color: #cb353f;
}

#cancelEditBook {
  background-color: #cb353f;
}

#applyAddBook {
  background-color: var(--green);
}

#applyEditBook {
  background-color: var(--green);
}

#titleInput {
  background-color: var(--add-input);
}

#authorInput {
  background-color: var(--add-input);
}

#pagesInput {
  background-color: var(--add-input);
}

#bookContainer {
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.book {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--turquoise);
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  color: var(--turquoise);
}

.userInput {
  color: var(--yellow);
}

.bookButtonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  user-select: none;
}

.editIcon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.deleteIcon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#editTitleInput {
  background-color: var(--edit-input);
}

#editAuthorInput {
  background-color: var(--edit-input);
}

#editPagesInput {
  background-color: var(--edit-input);
}

#deleteButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 150px auto;
  padding: 20px;
  border: 3px solid #cb353f;
}

.deleteBookButtons {
  border: none;
  font-size: 1em;
  border-radius: 0.25em;
  padding: 5px;
}

#cancelDelete {
  background-color: #cb353f;
}

#applyDelete {
  background-color: var(--green);
}
